# Cloud Image Files
**.img
**.iso
**.manifest
**.qed
**.qcow2
**.raw
**.vdi
**.vpc
**.vmdk

# Cloud Image Archives
**.tar*

## Cloud Image Hashes
**/*-CHECKSUM
**/*MD5SUM*
**/*SHASUM*
**/*SHA*SUM*

# Developer Files & Environments
*.code-workspace
.vscode/
.venv
